.feedback {
  
}

.feedback__content-wrapper {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: $laptop-width) {
    max-width: 1250px;
    
    margin: 0 auto;
  }
}

.feedback__header.header-bg {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 37px;
  }
}

.feedback__slider {
  background-image: url("../img/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.feedback__content {
  position: relative;

  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

.feedback__list {
  @include indents-zero();
}

.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 111px;
  padding-bottom: 200px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;

    padding-left: 80px;
    padding-right: 80px;

    background-image: url("../img/feedback-bg-tablet.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  @media (min-width: $laptop-width) {
    padding: 111px 120px 200px;
  }

  @media (min-width: $laptop-large-width) {
    padding: 111px 180px 200px;
  }
}

.feedback__img-wrapper {
  flex-shrink: 0;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 26px;
  }
}

.feedback__img-wrapper img {
  height: 156px;
  width: auto;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: auto;
  }

  @media (min-width: $laptop-width) {
    width: 200px;
  }
}

.feedback__feedback h3 {
  max-width: 400px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  margin: 0 auto 25px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    max-width: 100%;

    text-align: left;

    margin: 0;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

.feedback__feedback p {
  max-width: 400px;

  text-align: center;

  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 100%;

    text-align: left;

    padding-left: 0;
  }
}

.feedback__pagination {
  bottom: 120px;
  width: 120px;
  left: 50%;
  transform: translateX(-73px);

  font-family: $font-family-decorate;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: rgba($color-grey, 0.6);
}

.feedback__pagination .swiper-pagination-current {
  font-size: 42px;
  line-height: 42px;
  color: $main-color;
}

.feedback__button {
  top: auto;
  bottom: 132px;

  padding: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.feedback__button--prev {
  width: 40px;
  height: 19px;
  left: 50%;
  transform: translateX(-125px);

  background-image: url("../img/button-left.png");

  &:hover,
  &:focus {
    animation-name: button-prev-animate;
    animation-duration: 0.5s;
  }
}

.feedback__button--next {
  width: 66px;
  height: 19px;
  right: 50%;
  transform: translateX(125px);

  background-image: url("../img/button-right.png");

  &:hover,
  &:focus {
    animation-name: button-next-animate;
    animation-duration: 0.5s;
  }
}

@keyframes button-prev-animate {
  0% {
    transform: translateX(-125px) rotate(10deg);
  }

  20% {
    transform: translateX(-125px) rotate(-10deg);
  }

  40% {
    transform: translateX(-125px) rotate(10deg);
  }

  60% {
    transform: translateX(-125px) rotate(-10deg);
  }

  80% {
    transform: translateX(-125px) rotate(10deg);
  }

  100% {
    transform: translateX(-125px) rotate(0);
  }
}

@keyframes button-next-animate {
  0% {
    transform: translateX(125px) rotate(6deg);
  }

  20% {
    transform: translateX(125px) rotate(-6deg);
  }

  40% {
    transform: translateX(125px) rotate(6deg);
  }

  60% {
    transform: translateX(125px) rotate(-6deg);
  }

  80% {
    transform: translateX(125px) rotate(6deg);
  }

  100% {
    transform: translateX(125px) rotate(0);
  }
}
