.instructor {
  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.instructor__content-wrapper {
  max-width: 450px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 800px;
  }

  @media (min-width: $laptop-width) {
    max-width: 1190px;

    padding: 0 25px;
  }
}

.instructor__header.header-bg {
  @media (min-width: $laptop-width) {
    margin-bottom: 30px;
  }
}

.instructor__top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  margin-bottom: 45px;

  @media (min-width: $laptop-width) {
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 80px;
  }
}

.instructor__img-wrapper {
  display: flex;
  flex-shrink: 0;
}

.instructor__info {
  max-width: 738px;

  @media (min-width: $tablet-width) {
    max-width: 770px;
  }

  @media (min-width: $laptop-width) {
    max-width: 738px;
  }
}

.instructor__info h3 {
  color: $header-color;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 35px;
  padding: 0 15px;

  @media (min-width: $laptop-width) {
    max-width: 100%;

    text-align: left;

    margin-top: 0;
    padding-left: 30px;
  }
}

.instructor__list-wrapper {
  max-width: 100%;

  background-image: url("../img/side-blot-bg.png"),
                    url("../img/side-blot-bg.png");
  background-size: auto 241px;
  background-repeat: repeat-y;
  background-position: top 0 left -445px;

  @media (min-width: $tablet-width) {
    display: flex;

    padding-left: 16px;

    background-image: none;
  }
}

.instructor__features-list {
  @include indents-zero();

  padding-left: 61px;
  padding-right: 15px;
}

.instructor__features-list:nth-child(odd) {
  @media (min-width: $tablet-width) {
    width: 479px;
    flex-shrink: 0;

    padding-left: 71px;

    background-image: url("../img/side-blot-bg.png"),
                    url("../img/side-blot-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  @media (min-width: $laptop-width) {
    width: 55%;
    flex-shrink: 0;

    padding-left: 60px;
    padding-right: 30px;

    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top left;
  }
}

.instructor__features-list:nth-child(even) {
  @media (min-width: $tablet-width) {
    padding-left: 18px;
    padding-right: 30px;
  }

  @media (min-width: $laptop-width) {
    width: 45%;
    flex-shrink: 0;

    padding-right: 10px;
  }
}

.instructor__features-item {
  max-width: 100%;
}

.instructor__features-item p {
  max-width: 100%;
}

.instructor__stats {
  padding: 0 15px;
}

.instructor__stats-list {
  @include indents-zero();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.instructor__stats-item {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 50%;

    margin-bottom: 25px;
    padding-right: 80px;
  }

  @media (min-width: $laptop-width) {
    width: 25%;
    flex-direction: column;

    padding: 0 20px;
  }
}

.instructor__stats-item span {
  display: inline-block;
  vertical-align: middle;

  font-family: $font-family-decorate;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  color: $main-color;
  text-transform: uppercase;
  letter-spacing: 5.8px;

  margin-right: 44px;

  @media (min-width: $tablet-width) {
    font-size: 120px;
    line-height: 120px;

    margin-right: 25px;
  }

  @media (min-width: $laptop-width) {
    margin-right: 0;
  }
}

.instructor__stats-item p {
  max-width: 100%;

  margin-top: 0;

  @media (min-width: $laptop-width) {
    text-align: center;
  }
}
