.link {
  display: inline-block;
  vertical-align: middle;
  min-width: 290px;
  min-height: 73px;

  color: $color-white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-align: center;

  padding: 19px 20px 10px;
  
  background-image: url("../img/button-bg@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: $laptop-width) {
    width: 307px;
    height: 73px;

    padding-top: 18px;
  }
}