.map {
  padding-bottom: 489px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: auto 489px;
  background-position: bottom center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-decor-tablet.png"),
                      url("../img/map-tablet.jpg");
    background-size: 100% 795px, auto 708px;
    background-position: bottom left , bottom 45px left -134px;

    padding-bottom: 795px;
  }
}

.map__img-wrapper {
  display: flex;
}

.map__img-wrapper img {
  height: 489px;
  width: auto;

  object-fit: cover;
}