.new-knowledge {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 75px;
    padding-top: 70px;
  }
}

.new-knowledge__header {
  margin-bottom: 35px;

  @media (min-width: $laptop-width) {
    margin-bottom: 50px;
  }
}

.new-knowledge__list {
  @include indents-zero();

  max-width: 400px;

  margin: 0 auto 10px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;

    margin: 0 auto 40px;
  }

  @media (min-width: $laptop-width) {
    max-width: 1160px;
    justify-content: flex-start;

    padding: 0 25px;
  }
}

.new-knowledge__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 50%;

    padding: 0 30px;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;

    padding-left: 0;
  }
}

.new-knowledge__item:nth-child(odd) {
  @media (min-width: $laptop-width) {
    padding-right: 70px;
  }
}

.new-knowledge__item:nth-child(even) {
  @media (min-width: $laptop-width) {
    transform: translateY(50%);
  }
}

.new-knowledge__item img {
  flex-shrink: 0;

  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    height: 94px;
    width: auto;
  }

  @media (min-width: $laptop-width) {
    width: 140px;
    height: auto;
  }
}

.new-knowledge__description {
  max-width: 100%;

  @media (min-width: $laptop-width) {
    padding-left: 48px;
  }
}

.new-knowledge__description h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;

  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $laptop-width) {
    text-align: left;
  }
}

.new-knowledge__description p {
  max-width: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  margin-top: 0;

  @media (min-width: $laptop-width) {
    text-align: left;
  }
}

.new-knowledge__list-wrapper {
  max-width: 400px;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 1180px;
    overflow-x: scroll;

    padding-left: 20px;
  }

  @media (min-width: $laptop-large-width) {
    overflow: visible;
  }
}

.new-knowledge__urban-skills h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $header-color;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;

  margin: 0;
  margin-bottom: 43px;
  padding: 0 13px;

  @media (min-width: $tablet-width) {
    max-width: 750px;

    font-size: 36px;
    line-height: 42px;

    margin: 0 auto 53px;
  }
}

.new-knowledge__urban-list {
  @include indents-zero();
  counter-reset: section;

  min-height: 467px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 78px;
  padding-right: 15px;

  background-image: url("../img/red-line.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top 0 left 31px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    width: 1160px;
    min-height: auto;

    padding: 80px 0 60px;


    background-image: url("../img/red-chain-desktop.png");
    background-size: auto;
    background-position: top 0 left 0;
  }
}

.new-knowledge__urban-item {
  position: relative;

  &::before {
    counter-increment: section;
    content: counter(section);
    width: 50px;
    height: 50px;
    position: absolute;
    left: -68px;
    top: 50%;
    transform: translateY(-50%);

    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: center;

    padding-top: 15px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;

    &::before {
      left: 0;
      top: -56px;
    }
  }
}

// Костыль. Отдельные изображения для пунктов. ////////////////////////////////////////////
// Начало.
.new-knowledge__urban-item:nth-child(1) {
  &::before {
    background-image: url("../img/dot-1.png");
  }

  @media (min-width: $tablet-width) {
    width: 212px;

    &::before {
      background-image: none;
    }
  }
}

.new-knowledge__urban-item:nth-child(2) {
  &::before {
    background-image: url("../img/dot-2.png");
  }

  @media (min-width: $tablet-width) {
    width: 249px;
    padding-right: 50px;

    &::before {
      background-image: none;
    }
  }
}

.new-knowledge__urban-item:nth-child(3) {
  &::before {
    background-image: url("../img/dot-3.png");
  }

  @media (min-width: $tablet-width) {
    width: 228px;

    &::before {
      background-image: none;
    }
  }
}

.new-knowledge__urban-item:nth-child(4) {
  &::before {
    background-image: url("../img/dot-4.png");
  }

  @media (min-width: $tablet-width) {
    width: 290px;

    &::before {
      background-image: none;
    }
  }
}

.new-knowledge__urban-item:nth-child(5) {
  &::before {
    background-image: url("../img/dot-5.png");
  }

  @media (min-width: $tablet-width) {
    width: 170px;

    &::before {
      background-image: none;
    }
  }
}
// Конец кошмара.
////////////////////////////////////////////////////////////////////////////

.new-knowledge__urban-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
}
