.order {
  padding: 140px 0;

  background-image: url("../img/dark-image-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 0;
  margin-bottom: 28px;
  padding: 0 12px;
}

.order__header span:first-child {
  font-family: $font-family-decorate;
  font-size: 80px;
  font-weight: 400;
  color: $header-color;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 5.21px;
  word-break: break-word;
}

.order__header span:last-child {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-15px);

  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 1.76px;
}
