.order {
  padding: 140px 0;

  background-image: url("../img/dark-image-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/dark-image-bg-tablet.png");
    background-size: 100% 100%;
  }

  @media (min-width: $laptop-width) {
    padding-top: 130px;
    padding-bottom: 110px;

    background-image: url("../img/dark-image-bg-desktop.png");
  }
}

.order__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 780px;

    margin: 0 auto;
    padding-left: 13px;
    padding-right: 25px;
  }

  @media (min-width: $laptop-width) {
    max-width: 1190px;
    align-items: flex-start;

    padding: 0 25px;
  }
}

.order__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 0;
  margin-bottom: 28px;
  padding: 0 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;
  }
}

.order__header span:first-child {
  flex-shrink: 0;

  font-family: $font-family-decorate;
  font-size: 80px;
  font-weight: 400;
  color: $header-color;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 5.21px;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    font-size: 90px;
    line-height: 90px;
  }

  @media (min-width: $laptop-large-width) {
    font-size: 121px;
    line-height: 121px;
  }
}

.order__header span:last-child {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-15px);

  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 1.76px;

  @media (min-width: $tablet-width) {
    transform: translateY(-5px);

    font-size: 30px;
    line-height: 36px;
  }

  @media (min-width: $laptop-width) {
    margin-left: 40px;
  }

  @media (min-width: $laptop-large-width) {
    font-size: 41px;
    line-height: 46px;

    margin-top: 5px;
  }
}

.order__header br {
  display: none;

  @media (min-width: $laptop-width) {
    display: block;
  }
}

.order__link {
  @media (min-width: $laptop-large-width) {
    margin-top: 6px;
  }
}
