.page-header {
  display: flex;

  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/main-bg-tablet.png");
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 90px;

    background-image: url("../img/main-bg-desktop.png");
    background-size: auto;
  }
}

.page-header__bg-wrapper {
  width: 100%;
}

.page-header__content-wrapper {
  padding: 10px 15px 142px;

  @media (min-width: $tablet-width) {
    padding: 12px 24px 158px;
  }

  @media (min-width: $laptop-width) {
    max-width: 1190px;

    margin: 0 auto;
    padding: 22px 25px 316px;
  }
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 116px;
  }
}

.page-header__info {
  max-width: 320px;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 370px;
  }

  @media (min-width: $laptop-width) {
    max-width: 700px;

    margin: 0;
  }
}

.page-header__header {
  width: 100%;

  font-size: 16px;
  font-weight: 300;
  color: $color-white;
  letter-spacing: 11.2px;
  text-transform: lowercase;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 330px;
    order: 2;

    margin: 0 40px 0 10px;
  }

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.page-header__header span {
  display: block;

  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: top 8px left 0;
}

.page-header__tel {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}
