.path {
  padding: 0 15px 25px;
}

.path__content {
  max-width: 450px;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $laptop-width) {
    max-width: 1140px;
  }
}

.path__point {
  position: relative;

  color: $main-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;

  margin: 0;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $main-color;
    box-shadow: 0 0 0 5px rgba($main-color, 0.15);
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.path__point--start {
  margin-bottom: 80px;

  &::before {
    bottom: -30px;
  }
}

.path__point--finish {
  margin-top: 90px;

  &::before {
    top: -30px;
  }
}

.path__list {
  @include indents-zero();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    padding-top: 60px;

    background-image: url("../img/7-layers.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 0 right 121px;
  }

  @media (min-width: $laptop-width) {
    background-image: url("../img/7-layers-desktop.png");
    background-position: top 50px left 120px;
    background-size: auto;
  }
}

.path__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.path__item:nth-child(even) {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;
    align-self: flex-end;
  }
}

.path__item:last-of-type {
  @media (min-width: $tablet-width) {
    flex-direction: column;

    margin-left: auto;
    align-self: flex-end;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;

    margin-left: 0;
  }
}

.path__item img {
  max-width: 300px;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }

  @media (min-width: $laptop-width) {
    max-width: 400px;
  }
}

.path__item:nth-child(even) img {
  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 50px;
  }

  @media (min-width: $laptop-width) {
    margin-right: 25px;
    margin-left: 0;
  }
}

.path__item:last-of-type img {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.path__item:nth-child(1) {
  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.path__item:nth-child(2) {
  @media (min-width: $laptop-width) {
    transform: translateY(-80px);
  }
}

.path__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-top: -5px;
  }

  @media (min-width: $laptop-width) {
    transform: translateY(-160px);
  }
}

.path__item:nth-child(4) {
  @media (min-width: $laptop-width) {
    transform: translateY(-190px);
  }
}

.path__item-description {
  @media (min-width: $tablet-width) {
    max-width: 300px;
  }
}

.path__item h3 {
  max-width: 100%;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.path__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  margin: 0;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}
